<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127336993176-0q2ho991vc4oapqfhgurb2ecjspbqqo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127336993176-0q2ho991vc4oapqfhgurb2ecjspbqqo1</string>
	<key>API_KEY</key>
	<string>AIzaSyB4bvOTfpWymOFYW9EJ0nT_93PQAUkbujs</string>
	<key>GCM_SENDER_ID</key>
	<string>127336993176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asw-inc.training</string>
	<key>PROJECT_ID</key>
	<string>training-7576c</string>
	<key>STORAGE_BUCKET</key>
	<string>training-7576c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127336993176:ios:21069b275bbe66fda61bed</string>
	<key>DATABASE_URL</key>
	<string>https://training-7576c.firebaseio.com</string>
</dict>
</plist>